
<div class="showcase">
  <h2>DEFAULT SETTINGS</h2>
  <ngx-agile-slider-container [containerId]="'aaa'">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>INFINITE LOOP</h2>
  <pre class="prettyprint linenums">{{ '{ loop: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ loop: true }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>AUTOPLAY</h2>
  <pre class="prettyprint linenums">{{ '{ autoPlay: true, loop: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ autoPlay: true, loop: true }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>REWIND</h2>
  <pre class="prettyprint linenums">{{ '{ rewind: true, autoPlay: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ rewind: true }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>TOUCH</h2>
  <pre class="prettyprint linenums">{{ '{ swipe: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ swipe: true }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>IMAGES</h2>
  <ngx-agile-slider-container>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="https://dummyimage.com/880x130/000/fff"/>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>TEXT</h2>
  <ngx-agile-slider-container [sliderOptions]="{ loop: false }">
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <p style="white-space: initial;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
      </p>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>MIXED CONTENT</h2>
  <ngx-agile-slider-container [sliderOptions]="{ loop: false }">
    <ngx-agile-slider-item>
      <div>
        <img src="https://dummyimage.com/80x20/000/fff"/>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <button >Button</button>
      </div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>
        <img src="https://dummyimage.com/80x20/000/fff"/>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <button >Button</button>
      </div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>
        <img src="https://dummyimage.com/80x20/000/fff"/>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <button >Button</button>
      </div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>
        <img src="https://dummyimage.com/80x20/000/fff"/>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <button >Button</button>
      </div>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>CUSTOM EASING</h2>
  <pre class="prettyprint linenums">{{ '{ loop: true, easeFunction: "cubic-bezier(0.930, 0.075, 0.855, 0.855)" }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ loop: true, easeFunction: 'cubic-bezier(0.930, 0.075, 0.855, 0.855)' }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>LAZY LOADING</h2>
  <pre class="prettyprint linenums">{{ '{ infiniteLoopActive: true, lazyLoading: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ loop: true, lazyLoading: true }">
    <ngx-agile-slider-item>
      <div>
        <div>
          <img src="assets/800x200.png"/>
        </div>
      </div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/801x200.png"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/802x200.png"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/803x200.png"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/804x200.png"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/805x200.png"/>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <img src="assets/806x200.png"/>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>ITEM SIZE</h2>
  <ngx-agile-slider-container>
    <ngx-agile-slider-item [additionalClasses]="['kkk1']">
      <div>1</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk2']">
      <div>2</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk3']">
      <div>3</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk4']">
      <div>4</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk5']">
      <div>5</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk6']">
      <div>6</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['kkk7']">
      <div>7</div>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>AUTO HEIGHT</h2>
  <pre class="prettyprint linenums">{{ '{ autoHeight: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ autoHeight: true }">
    <ngx-agile-slider-item>
      <div>1</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['lll']">
      <div>2</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>3</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>4</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>5</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>6</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <div>7</div>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>AUTO SWITCH OFF</h2>
  <pre class="prettyprint linenums">{{ '{ autoSwitchOff: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ autoSwitchOff: true }">
    <ngx-agile-slider-item [additionalClasses]="['mmm']">
      <div>1</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['mmm']">
      <div>2</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['mmm']">
      <div>3</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['mmm']">
      <div>4</div>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item [additionalClasses]="['mmm']">
      <div>5</div>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>NAVIGATION</h2>
  <pre class="prettyprint linenums">{{ '{ duration: 2000, navigation: true }' }}</pre>
  <ngx-agile-slider-container [sliderOptions]="{ duration: 2000, navigation: true }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>

  <h2>ADDITIONAL CLASSES</h2>

  <ngx-agile-slider-container [sliderOptions]="{ classContainer: 'may-container', classFrame: 'my-frame', classList: 'my-list' }">
    <ngx-agile-slider-item>
      <span>1</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>2</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>3</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>4</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>5</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>6</span>
    </ngx-agile-slider-item>
    <ngx-agile-slider-item>
      <span>7</span>
    </ngx-agile-slider-item>
  </ngx-agile-slider-container>
</div>
